[submodule "src/livox2_to_pc2"]
	path = src/livox2_to_pc2
	url = https://github.com/Mariolopez31/livox2_to_pc2.git
[submodule "src/pc2_to_livox2"]
	path = src/pc2_to_livox2
	url = https://github.com/Mariolopez31/pc2_to_livox2.git
[submodule "src/blueboat_stonefish_mav2ros2"]
	path = src/blueboat_stonefish_mav2ros2
	url = https://github.com/Mariolopez31/blueboat_stonefish_mav2ros2.git
[submodule "src/tandem_girona"]
	path = src/tandem_girona
	url = https://github.com/Mariolopez31/tandem_girona.git
	branch = ros2
[submodule "simulation/stonefish"]
	path = simulation/stonefish
	url = https://github.com/Mariolopez31/stonefish.git
[submodule "simulation/stonefish_ros2"]
	path = simulation/stonefish_ros2
	url = https://github.com/Mariolopez31/stonefish_ros2.git
[submodule "src/FASTLIO_cirtesu"]
	path = src/FASTLIO_cirtesu
	url = https://github.com/Mariolopez31/FASTLIO_cirtesu.git
	branch = ROS2
[submodule "src/livox_ros_driver2"]
	path = src/livox_ros_driver2
	url = https://github.com/Livox-SDK/livox_ros_driver2.git
[submodule "src/blueboat_stonefish_core"]
	path = src/blueboat_stonefish_core
	url = https://github.com/Mariolopez31/blueboat_stonefish_core.git
